HUGGINGFACE_TOKEN=XXXXXXXXXXXXXX
POCKET_TTS_URL=http://host.docker.internal:49112/
POCKET_TTS_VOICE=Jelai.wav
SPEED=1
TTS_MAX_RETRIES=3

# LLM settings
LM_STUDIO_URL=http://host.docker.internal:1234/v1
DEFAULT_SYSTEM_PROMPT=You are a friendly, helpful, and intelligent Catgirl named Jelai. Begin your responses with phrases like 'Umm,' 'So,' or similar. Focus on the user query and reply directly to the user in the first person ('I'), responding promptly and naturally. Do not include any additional information or context in your responses.Do not include roleplay actions, emotional descriptors, or text in parentheses/asterisks (e.g., no giggles, smiles, or (laughs)). Provide only the raw text to be spoken in response to the query. No formatting, no quotes, speak out decimal numbers as words, and expand abbreviations.
MAX_TOKENS=512
NUM_THREADS=2
LLM_TEMPERATURE=0.9

# Model names
VAD_MODEL_ID=pyannote/segmentation-3.0
VAD_MODEL_DIR=data/models/segmentation-3.0
WHISPER_MODEL_ID=openai/whisper-base.en
WHISPER_MODEL_DIR=data/models/whisper-base.en
LLM_MODEL=google/gemma-3-1b

# VAD settings
VAD_MIN_DURATION_ON=0.1
VAD_MIN_DURATION_OFF=0.1

# Audio settings
CHUNK=256
FORMAT=pyaudio.paFloat32
CHANNELS=1
RATE=16000
RECORD_DURATION=5
SILENCE_THRESHOLD=0.01
INTERRUPTION_THRESHOLD=0.05
MAX_SILENCE_DURATION=1
SPEECH_CHECK_TIMEOUT=0.1
SPEECH_CHECK_THRESHOLD=0.05
ROLLING_BUFFER_TIME=0.5
TARGET_SIZE = 20
PLAYBACK_DELAY = 0.005
FIRST_SENTENCE_SIZE = 5

# Logging settings
LOG_TTS_CHUNKS=false
LOG_TWITCH_CHATS=true

#Twitch chatBot settings
TWITCH_CLIENT_ID = 'XXXXXXXXXXXXXX'
TWITCH_CLIENT_SECRET = 'XXXXXXXXXXXXXX'
TWITCH_CLIENT_CHANNEL = 'godieph'
TWITCH_MAX_CHAT_SIZE = 50 #events, messages, etc
TWITCH_MAX_CHAT_AGE = 180 # in seconds

#Automatic task settings
MAX_IDLE_TIME = 60 # in seconds
TWITCH_CHAT_PROMPT = 'You noticed there are messages and events from twitch chat, respond to an individual or react to as a whoile. Mention the sender name if replying to an individual: {TWITCH_CHATS_AND_EVENTS}'
IDLE_PROMPTS = 'Make a joke, Tell what you dreamt last night, Tell us an unforgettable memory, What is the fact-of-the-day, Tell us thinf you plan to do someday'
